.main {
  padding-bottom: 100px;
}

.main__title {
  font-size: 35px;
  margin: 0;
  padding-top: 20px;
}

.main__subtext {
  font-size: 21px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main__subtext-link {
  padding-left: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.main__subtext-link:hover {
  color: blue;
  text-decoration: underline;
}

.surveying-services__title {
  font-size: 28px;
}

.survey-services__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.survey-services__list-service {
  max-width: 500px;
  margin-bottom: 20px;
  text-wrap: wrap;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid;
}

.survey-services__list-service_desc {
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
}

.surver-services__list-button_read-more {
  background-color: transparent;
  border: none;
}

.surver-services__list-button_read-more:hover {
  color: blue;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main {
    max-width: 767px;
  }

  .main__title {
    text-align: center;
  }

  .main__subtext {
    text-align: center;
    font-size: 18px;
    -webkit-line-clamp: 5;
  }

  .main__subtext-link{
    font-size: 18px;
  }
}
