.contact {
  margin: 0 auto;
  padding-bottom: 100px;
}

.contact__title {
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 50px;
  background-color: #023e92;
  color: #fff;
  height: 100px;
}

.contact__title-text {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 50px;
  background-color: #023e92;
  color: #fff;
}

.contact__wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.contact__info-list {
  list-style: none;
}

.contact__info-contact_title {
  margin: 0;
}

.contact__info-contact_desc {
  margin: 0;
  margin-bottom: 15px;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__form-title {
  margin: 18px auto;
}

.contact__form-info {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 412px;
}

.contact__form-input_wrapper {
  max-width: 201px;
  width: 100%;
}

.contact__form-input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact__form-input_wrapper-messageBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 380px;
  width: 100%;
}

.contact__form-input_wrapper-textArea {
  max-width: 412px;
  width: 100%;
  border-radius: 5px;
}

.contact__form-input_wrapper-textArea_input {
  padding: 15px;
  height: 160px;
  max-width: 380px;
  width: 100%;
  border-radius: 5px;
}

.contact__form_submit-button {
  margin: 0 auto;
  width: 130px;
  height: 59px;
  background-color: #005183;
  border: 1px solid #005183;
  cursor: pointer;
  color: #fff;
}

.contact__form_submit-button_text {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .contact__title {
    height: 18px;
  }

  .contact__title-text {
    font-size: 35px;
  }


  .contact__wrapper {
    flex-direction: column;
  }

  .contact__form {
    align-items: center;
  }

  .contact__form-info {
    justify-content: center;
  }

  .contact__form-input_wrapper-messageBox {
    max-width: 220px;
  }

  .contact__form-input_wrapper-textArea_input {
    max-width: 335px;
  }
}